Build/
source/Client/obj/
source/Server/obj/
.vs/
/Ubiety.Dns.Core.dll
/Renci.SshNet.xml
/Renci.SshNet.dll
/Plugin.vshost.exe.manifest
/Plugin.vshost.exe.config
/Plugin.vshost.exe
/Plugin.pdb
/Plugin.exe.config
/Plugin.exe
/Newtonsoft.Json.xml
/Newtonsoft.Json.dll
/MySql.Data.xml
/MySql.Data.dll
/Google.Protobuf.xml
/Google.Protobuf.dll
/BouncyCastle.Crypto.dll
